[Unit]
Description=Noodle Controller Service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/usr/local/bin/noodle

[Install]
WantedBy=multi-user.target
