.animate {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.white-background {
    background: #fff;
}
.transparent-background {
    background: transparent;
}

.navbar.transparent-background {
    box-shadow: none;
  }

.navbar.scrolled {
  /*  min-height:58px; */
    background-color:#fff;
}

.navbar {
    z-index:1301;
  /*  min-height:64px; */
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}
.navbar.transparent-background {
    box-shadow: none;
  }